/* fix me! :) */

#main {
    width: 720px;
    height: 520px;
    margin-top: 85px;
    margin: auto;
}

#main #content {
    background: #E0EAF8;
}

#sidebar {
    width: 200px;
    height: 520px;
    background: #DDFED1;
}

#content {
    width: 520px;
    height: 520px;
    margin-top: -540px;
    margin-left: 200px;
}