/* fix me! :) */
html { background:#1fc4f4; }

.body {
	margin: 0px;
	padding: 0px;
	background-color: #1fc4f4;
	background:url(../img/gif/framtid-bgr_02.gif);
	background-repeat: no-repeat;
	background-position:50% 0%; 
	font-family:verdana,tahoma,helvetica,arial;
	font-size:78%;
	color: #333;
}

#main {
    width: 720px;
	background:white;
    margin: 0 auto;
	border:3px solid #999;
	margin-bottom: 1em;
}
 
#sidebar {
	background:#fff;
	width: 307px;
	background: #fff;
	float: left;
	border-right:3px solid #999;
}
 
#content {
	background: #fff;
	padding:10px;
    width: 387px;
	float: right;
}

#content-projects {
	background: #fff;
	padding:10px;
    width: 694px;
	float: right;
}

#sign-in {
	width:720px;
	height: 85px;
	margin-left:auto;
	margin-right:auto;
	background:none;
	text-align: right;
}

#header {
	margin-left:auto;
	margin-right:auto;
	background:#fff;
	border-bottom:3px solid #999;
	height: 49px;
}

#footer {
	background:#fff;
	clear:both;
}

#drop-shadow-footer {
	width:720px;
	height:8px;
	background:#666;
	margin:0px auto;
	left:10px;
}

input {
	border:1px solid #f90;
}

a img {
    border: none;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
} 

li {
	
	padding: 0px;
	
}

.navigation a {
	display: block;
	padding: 10px;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	width: 287px;
	background: #f5f5f5;
	color: #666;
	font-weight: bold;
}

.navigation a:visited {
	color:#666;
	text-decoration:underline;
}

.navigation a:active {
	color:#666
}

.navigation a:hover {
	color:#f90;
	background: #e1e1e1;
}