{% extends "index.html" %}


{% block title %}{{ block.super }} | Svörin þín{% endblock %}
{% block content %}
<h2>{{ member.assignment.name }}</h2>

Hér eru niðurstöðurnar þínar úr {{ member.assignment.name }}:

<br><br>
{% for answer in answers %}
    <div class="field"> 
    {{answer.answer_number}}.
    {{answer.statement}},
    {{answer.current_state}}/6,
    {{answer.headed_state}}/6,
    {{answer.ideal_state}}/6
    {% if answer.comment %}
    {{answer.comment}}
    {% endif %}
    </div>
{% endfor %}

{% endblock %}