{% extends "index.html" %}


{% block title %}{{ block.super }} | Verkefni {{ assignment.number }}{% endblock %}
{% block content %}
<h2>{{ assignment.name }}</h2>

<p class="question">
    {{ assignment.question }}
</p>

{{ min_values }} gildi nauðsynleg. {# minimum number of values to require for form before allowing to save (use in javascript) #}

<form method="post">
    {% for field_values in field_values %}
    <div class="field">
        {{ forloop.counter }}.
        <input type="text" name="value_{{ field_values.0 }}" value="{{ field_values.1 }}" />
        
        {# update hidden fields with values from 0-99 with jQuery sliders #}
        <input type="hidden" name="current_state_{{ field_values.0 }}" value="{{ field_values.2 }}" />
        <input type="hidden" name="headed_state_{{ field_values.0 }}" value="{{ field_values.3 }}" />
        <input type="hidden" name="ideal_state_{{ field_values.0 }}" value="{{ field_values.4 }}" />
    </div>
    {% endfor %}
    <div class="field">
        <input type="submit" name="quit" value="Hætta í bili"/> <input type="submit" name="completed" value="Verkefni lokið"/>
    </div>
</form>
{% endblock %}