{% extends "base.html" %}

{% block title %}{{ block.super }} | Verkefni {{ assignment.number }}{% endblock %}

{% block header %}
{% ifequal assignment.name "Verkefni 1" %}
<div id="header">
   <img src="/media/img/gif/verkefni-buttons-1.gif" name="but" width="260" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-ljos-1.gif" name="buttons2" width="240" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-ljos-3.gif" name="buttons3" width="211" height="49" alt="" />
  </div>
  {% endifequal %}

  {% ifequal assignment.name "Verkefni 2" %}

  <div id="header">
   <img src="/media/img/gif/verkefni-buttons-ljos-1.gif" name="but" width="260" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-2.gif" name="buttons2" width="240" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-ljos-3.gif" name="buttons3" width="211" height="49" alt="" />
  </div>
  {% endifequal %}
  {% if is_essay %}
  <div id="header">
   <img src="/media/img/gif/verkefni-buttons-ljos-1.gif" name="but" width="260" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-ljos-2.gif" name="buttons2" width="240" height="49" alt="" />
   <img src="/media/img/gif/verkefni-buttons-3.gif" name="buttons3" width="211" height="49" alt="" />
  </div>
  {% endif %}


{% endblock %}
{% block content %}
<link type="text/css" href="/media/css/konnun/konnun.css" rel="stylesheet" />
<link type="text/css" href="/media/css/ui-slider/jquery-ui-slider.css" rel="stylesheet" />
    <script src="/media/js/jquery-1.3.2.min.js"></script>
    <script src="/media/js/jquery.ui-1.7.1.custom.min.js"></script>
    <script src="/media/js/jquery.eutils-1.0.min.js"></script>
    <script src="/media/js/ac/jquery.ajaxQueue.js"></script>
    <script src="/media/js/ac/jquery.bgiframe.min.js"></script>
    <script src="/media/js/ac/jquery.autocomplete.min.js"></script>
    <script src="/media/js/konnun-init.js"></script>
    
<h1 style="color:#f90;">{{ assignment.question }}</h1>
  
{%if is_essay%}
  
<p>
    Að lokum viljum við bjóða ykkur að segja ykkar skoðun. Hér má skrifa hvað sem ykkur langar. Til dæmis ritgerð um dag í lífi ykkar í framtíðinni, blogg úr framtíðinni, skoðun ykkar á verkefninu, þjóðfélaginu eða hverju sem er. Orðið er frjálst.
</p>

<form method="post" name="value_form">
<textarea style="width: 98%; height: 25em;" name="essay_text">{{ essay.text }}</textarea>

<div class="btnrow">
      <span class="fi_btn forward"><input type="submit" value="Ljúka við verkefni" name="completed" /></span>
      <span class="fi_btn back"><input type="submit" value="Fyrra verkefni" name="previous" /></span>

    </div>

</form>

{%else%}


{% if assignment %}

<p>Ræðið það á milli ykkar og veljið út frá því að minnsta kosti fimm stök orð og í mesta lagi tíu sem best lýsa því sem ykkur finnst. Það má bara setja eitt orð í hvern reit.</p>
<p>Þegar smellt er með músinni á reitina opnast gluggi með valmöguleikum. Valmöguleikarnir eru til að segja hver staðan er í dag, hvert þið teljið að við stefnum miðað við núverandi áherslur og að síðustu hver væri óska staðan í framtíðinni. Það eru ekki beinir mælikvarðar á stikunum heldur eigið þið að nota ykkar tilfinningu til að stilla þá. Ef þið viljið svo bæta við upplýsingum er innsláttarreitur þar sem hægt er að skrifa stuttan texta.</p>
<p>Við viljum líka að þið raðið orðunum eftir mikilvægi og það er hægt að endurraða listanum með því annars vegar að smella á upp og niður örvarnar til hliðar við hvern reit eða draga reitina með því að smella beint á þá með músinni, halda inni takkanum og draga upp eða niður.</p>

<form method="post">
    <div class="words">
    
    {% for field in field_values %}
    
    <fieldset>
        <legend>Orð {{ forloop.counter }}</legend>
        <span class="fi_txt order">
          <label for="order_{{ field.0 }}">Röð:</label>
          <input id="order_{{ field.0 }}" type="number" name="order_{{ field.0 }}" size="1" maxlength="2" value="{{ field.0 }}" />
        </span>
        <span class="fi_txt word">
          <label for="value_{{ field.0 }}">Orð:</label>
          <input id="value_{{ field.0 }}" type="text" name="value_{{ field.0 }}" value="{{ field.1 }}" />
        </span>
        <div class="eval">
          <span class="fi_sel">
            <label for="current_state_{{ field.0 }}">Hver er staðan í dag?</label>
            <select id="current_state_{{ field.0 }}" name="current_state_{{ field.0 }}">
              <option></option>
              {%for choice in choice_names%}
                  <option value="{{forloop.counter}}"{%ifequal field.2 forloop.counter %} selected{%endifequal%}>{{choice}}</option>
              {%endfor%}
            </select>
          </span>
          <span class="fi_sel">
            <label for="headed_state_{{ field.0 }}">Hver verður staðan miðað við núverandi stefnu?</label>
            <select id="headed_state_{{ field.0 }}" name="headed_state_{{ field.0 }}">
              <option></option>
              {%for choice in choice_names%}
              <option value="{{forloop.counter}}"{%ifequal field.3 forloop.counter %} selected{%endifequal%}>{{choice}}</option>
              {%endfor%}
            </select>
          </span>
          <span class="fi_sel">
            <label for="ideal_state_{{ field.0 }}">Hver væri óska staðan í framtíðinni?</label>
            <select id="ideal_state_{{ field.0 }}" name="ideal_state_{{ field.0 }}">
              <option></option>
              {%for choice in choice_names%}
              <option value="{{forloop.counter}}"{%ifequal field.4 forloop.counter %} selected{%endifequal%}>{{choice}}</option>
              {%endfor%}
            </select>
          </span>
          <div class="fi_bdy">
            <label for="comment_{{ field.0 }}">Viljið þið segja meira? <i>(140 orð eða færri)</i></label>
            <textarea id="comment_{{ field.0 }}" name="comment_{{ field.0 }}" cols="30" rows="5">{{ field.5 }}</textarea>
          </div>
        </div>
      </fieldset>
      {% endfor %}
      
      </div>
      <div class="btnrow">
            <span class="fi_btn forward"><input type="submit" value="Næsta skref" name="next" /></span>
            {% ifnotequal assignment.name "Verkefni 1" %}
            
            <span class="fi_btn back"><input type="submit" value="Fyrra skref" name="previous" /></span>
            {% endifnotequal %}
            

          </div>
      

</form>
{%else%}
Það er ekkert verkefni í boði til úrlausnar. :(
{% endif %}
{% endif %}
{% endblock %}