<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- encoding: utf-8 -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="is">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Okkar framtíð{% endblock %}</title>

    <link rel="stylesheet" href="/media/css/base.css" type="text/css" media="screen" charset="utf-8">        

  
    </head>
    
    <body class="body">
         <div id="sign-in">
                <form action="/login" method="post">
                {% if user %}
                <table style="margin-left:auto;color:white;font-weight:bold">
					<tr>
						<td style="height:55px"></td>
					</tr>
					<tr>
						<td>{{ user.email }}
						    [<a href="/logout">útskrá</a>]</td>
					</tr>
				</table>				

				{% else %}
				<table style="margin-left:auto;color:white;font-weight:bold">
					<tr>
						<td style="height:30px"></td>
					</tr>
					<tr>
						<td>netfang:</td>
						<td>lykilorð:</td>
						<td></td>
					</tr>
					<tr>
						<td><input type="text" name="email" /></td>
						<td><input type="password" name="password" /></td>
						<td><button>Skrá inn</button></td>
					</tr>
				</table>
				{% endif %}
				</form>
				  
			</div>
			<div id="main">
			    
			{% block header %}{% endblock %}
            
			
            {% block sidebar %}{% endblock %}
            
            <div id="content{% block front_page %}-projects{% endblock %}">

            {% block content %}Content.{% endblock %}
            </div>
            
            <div id="footer">
                <a href="http://hugmyndaraduneytid.is/">
    				<img src="/media/img/jpg/hugm-logo.jpg" width="130" height="28" border="0" alt="">
				</a>
			</div>
        </div>
    </body>
   
</html>
