{% extends "base.html" %}
{% block content %}
<p>
    Takk fyrir að taka þátt.
</p>
<p>
    Til að byrja verkefnið þarf að skrá þátttakanda eða þátttakendur og er það
    gert með því að smella á <strong>Nýskráning</strong> hér til hægri. Sé
    hins vegar búið að skrá nýjan notanda eða notendur er ýtt á
    <strong>Innskráning</strong>.
</p>
<p>
    Verkefnið sjálft er mjög einfalt en við vonuma ð þið takið ykkur góðan
    tíma til að velta fyrir ykkur möguleikunum. Skemmtilegast er þegar tveir
    eða fleiri taka þátt saman.
</p>
<p>
    ...
</p>
{% endblock %}