{% extends "base.html" %}

{% block title %}{{ block.super }} | Okkar þakkir{% endblock %}

{% block content %}
<h2>Takk fyrir þátttökuna!</h2>

<p>
    Hvað skiptir ykkur mestu máli persónulega. Ræðið það á milli ykkar og veljið út frá því að minnsta kosti fimm stök orð og í mesta lagi tíu sem best lýsa því sem ykkur finnst. Það má bara setja eitt orð í hvern reit.
</p>
<p>
    Þegar smellt er með músinni á reitina opnast gluggi með valmöguleikum. Valmöguleikarnir eru til að segja hver staðan er í dag, hvert þið teljið að við stefnum miðað við núverandi áherslur og að síðustu hver væri óska staðan í framtíðinni. Það eru ekki beinir mælikvarðar á stikunum heldur eigið þið að nota ykkar tilfinningu til að stilla þá. Ef þið viljið svo bæta við upplýsingum er innsláttarreitur þar sem hægt er að skrifa stuttan texta. 
    
</p>
<p>
    Við viljum líka að þið raðið orðunum eftir mikilvægi og það er hægt að endurraða listanum með því annars vegar að smella á upp og niður örvarnar til hliðar við hvern reit eða draga reitina með því að smella beint á þá með músinni, halda inni takkanum og draga upp eða niður.
</p>
{% endblock %}