{% extends "index.html" %}


{% block title %}{{ block.super }} | Verkefni {{ assignment.number }}{% endblock %}
{% block content %}
<h1>{{ assignment.name }}</h1>

<p class="question">
    {{ assignment.question }}
</p>


<div class="introtext">
      <p>Sláðu inn 10 orð sem þér þykja mikilvæg fyrir framtíð landsins, og dragðu þau til ....</p>
      <p>meiri texti, etc. etc.</p>
</div>


<div class="words">


      <fieldset>
        <legend>Orð A</legend>
        <span class="fi_txt order">
          <label for="w1_ord">Röð:</label>
          <input id="w1_ord" type="number" name="w1_ord" size="1" maxlength="2" value="1" />
        </span>
        <span class="fi_txt word">
          <label for="w1">Orð:</label>
          <input id="w1" type="text" name="w1" value="" />
        </span>
        <div class="eval">
          <span class="fi_sel">
            <label for="w1_now">Hver er staðan í dag?</label>
            <select id="w1_now" name="w1_now">
              <option></option>
              <option value="1">Slæm</option>
              <option value="2">Slöpp</option>
              <option value="3">Þokkaleg</option>
              <option value="4">Ágæt</option>
              <option value="5">Fín</option>
            </select>
          </span>
          <span class="fi_sel">
            <label for="w1_future">Hver verður staðan miðað við núverandi stefnu?</label>
            <select id="w1_future" name="w1_future">
              <option></option>
              <option value="1">Slæm</option>
              <option value="2">Slöpp</option>
              <option value="3">Þokkaleg</option>
              <option value="4">Ágæt</option>
              <option value="5">Fín</option>
            </select>
          </span>
          <span class="fi_sel">
            <label for="w1_wish">Hver væri óska staðan í framtíðinni?</label>
            <select id="w1_wish" name="w1_wish">
              <option></option>
              <option value="1">Slæm</option>
              <option value="2">Slöpp</option>
              <option value="3">Þokkaleg</option>
              <option value="4">Ágæt</option>
              <option value="5">Fín</option>
            </select>
          </span>
          <div class="fi_bdy">
            <label for="w1_comment">Viljið þið segja meira? <i>(140 orð eða færri)</i></label>
            <textarea id="w1_comment" name="w1_comment" cols="30" rows="5"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
{{ min_values }} gildi nauðsynleg. {# minimum number of values to require for form before allowing to save (use in javascript) #}

<form method="post">
    {% for field_values in field_values %}
    <div class="field">
        {{ forloop.counter }}.
        <input type="text" name="value_{{ field_values.0 }}" value="{{ field_values.1 }}" />
        
        {# update hidden fields with values from 0-99 with jQuery sliders #}
        <input type="hidden" name="current_state_{{ field_values.0 }}" value="{{ field_values.2 }}" />
        <input type="hidden" name="headed_state_{{ field_values.0 }}" value="{{ field_values.3 }}" />
        <input type="hidden" name="ideal_state_{{ field_values.0 }}" value="{{ field_values.4 }}" />
    </div>
    {% endfor %}
    <div class="field">
        <input type="submit" name="quit" value="Hætta í bili"/> <input type="submit" name="completed" value="Verkefni lokið"/>
    </div>
</form>
{% endblock %}