<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- encoding: utf-8 -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="is">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Okkar framtíð{% endblock %}</title>

    <link rel="stylesheet" href="/media/css/base.css" type="text/css" media="screen" charset="utf-8">        

  
    </head>
    <body>
        <div id="main">
            <div id="sidebar">
            {% block sidebar %}
            <ul class="navigation">
                  
                
                <li><a href="/">Forsíða</a></li>
           
            {% ifequal lvl "inner" %}    
            {#<h2>Innrasvæði</h2>#}            
              
                <li><a href="/">Útskráning</a> {# TODO: add logout #} </li>
                {% for assignment in assignments %}
                <li><a href="/assignment?var={{assignment.name}}">{{assignment.name}}</a> </li>
                {% endfor %}

                <li><a href="/logout">Útskráning</a> </li>                

                <li><a href="#">Hjálp</a> {# TODO: add help #}</li>
            {% endifequal  %}
            {%ifequal  lvl "outer" %} 
            {#<h2>Ytrasvæði</h2>#}            
                
                <li><a href="/login">Innskráning</a></li>
                <li><a href="/register">Nýskráning</a></li>
                <li><a href="/about">Um verkefnið</a></li>
                <li><a href="/why">Af hverju þurfum við framtíðarsýn?</a></li>
                <li><a href="/your_opinion">Af hverju skiptir þín skoðun máli?</a></li>
                <li><a href="/for_all">Er verkefnið fyrir alla aldurshópa?</a></li>
                <li><a href="/society">Hvernig samfélag viljum við?</a></li>
                <li><a href="/values">Hvað eru gildi og til hvers þurfum við þau? </a></li>
                <li><a href="/project_owners">Hver stendur að verkefninu?</a></li>
                <li><a href="/information">Viltu fræðast meira?</a></li>
                <li><a href="/images">Myndir og annað efni sem frjálst er að nota</a></li>
                <li><a href="/participation">Þátttaka í verkefninu</a></li>
            {% endifequal  %}
            </ul>
            {% endblock %}
            </div>
            <div id="content">
            {% block content %}Content.{% endblock %}
            </div>
            
        </div>
    </body>
   
</html>
