{% extends "base.html" %}


{% block title %}{{ block.super }} | Tölvupóstur {% endblock %}
{% block content %}

{% if is_invalid_email %}
<h2>Þetta netfang er ekki skráð</h2>

Netfangið <strong>{{email}}</strong> er ekki skráð hjá okkur.  Ertu viss um að þú hafir skráð þig hjá okkur og virkjað aðganginn þinn?

{% else %}
{% if is_missing_email %}
<h2>Tölvupóst vantar</h2>

Vinsamlega fylltu út tölvupóstfang og reyndu aftur til að fá lykilorð sent.
{% else %}

<h2>Lykilorð hefur verið sent</h2>

Þér hefur verið sent lykilorð þitt á netfangið <strong>{{email}}</strong>.  Það ætti að berast strax.  Ef þú finnur það ekki í pósthólfinu þínu gætirðu þurft að leita í ruslpóstmöppum.
{% endif %}
{% endif %}
{% endblock %}