{% extends "index.html" %}


{% block title %}{{ block.super }} | Nýskráning{% endblock %}
{% block content %}
<h2>Skráið ykkur hér í verkefnið:</h2>

<form method="post">

<table border="0">
    <tr>
        <td>Nafn</td>
        <td class="field{% if errors.postal_code %} errors{% endif %}">
            <input type="text" name="name" value="{{ previous.name }}" />
            <span class="errors"><span class="errors">{{ errors.name }}</span></span>
        </td>
    </tr>
    <tr>
        <td>Póstnúmer</td>
        <td class="field{% if errors.postal_code %} errors{% endif %}">
            <input type="text" name="postal_code" value="{{ previous.postal_code }}" maxlength="3" />
            <span class="errors">{{ errors.postal_code }}</span>
        </td>
    </tr>
    <tr>
        <td>Fjöldi þátttakenda</td>
        <td>
            <input type="text" name="name" value="" />
        </td>
    </tr>
    <tr>
        <td>Netfang</td>
        <td class="field{% if errors.email %} errors{% endif %}">
            <input type="text" name="email" value="{{ previous.email }}" />
            <span class="errors">{{ errors.email }}</span>
        </td>
    </tr>
    <tr>
        <td>Lykilorð</td>
        <td class="field{% if errors.password %} errors{% endif %}">
            <input type="password" name="password" value="{{ previous.password }}" />
            <span class="errors">{{ errors.password }}</span>
        </td>
    </tr>
    <tr>
        <td>Lykilorð aftur</td>
        <td class="field{% if errors.password_confirm %} errors{% endif %}">
            <input type="password" name="password_confirm" value="{{ previous.password_confirm }}" />
            <span class="errors">{{ errors.password_confirm }}</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" name="register" value="Nýskrá" />
        </td>
    </tr>
    
</table>

</form>
{% endblock %}