{% extends "base.html" %}

{% block title %}{{ block.super }} | Okkar þakkir{% endblock %}

{% block content %}
<h2>Takk fyrir þátttökuna!</h2>

<p>
    Kærar þakkir fyrir framlag ykkar til verkefnisins. Við vonum að ferlið hafi komið af stað skemmtilegum og gagnlegum umræðum og hjálpað ykkur við að skoða hug ykkar til hvers konar lands við viljum búa í til frambúðar.
    
</p>

<p>
    Þó að verkefninu ljúki 24. apríl næstkomandi þá munum við geyma niðurstöður ykkar og þið getið nálgast þær hvenær sem er.
    
</p>

<p>
    Gagnagrunnurinn verður opnaður öllum almenningi og hann geymdur á netinu en þið þurfið ekki að óttast um netföngin ykkar og lykilorð við varðveitum þau.
    
</p>

<p>
    Fyrstu niðurstöður úr verkefninu verða kynntar bráðlega. Möguleikarnir á úrvinnslu eru fjölda margir og við teljum að margt merkilegt eigi eftir að koma út úr úrvinnslu gagnanna.
    
</p>

<p>
    Með von um bjarta framtíð<br />
    Hugmyndaráðuneytið
    
</p>



{% endblock %}